.product-card{
    border: 4px solid black;
    display: flex;
    flex-direction: column;
}
.product-title{
    font-size: medium;
    font-family: sans-serif;
    font-style: bold;
    padding:10px;
    text-align:center
}
.product-img{
    width:300px;
    height:300px;
    padding:10px;
}